/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.components-dropdown-menu__menu-item {
	height: auto;
	min-height: 36px;
	text-align: left;

	&.has-icon {

		> svg {
			margin-right: 10px;
		}
	}
}
